<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" verbose="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Rych OATH-OTP Tests">
            <directory suffix="Test.php" phpVersion="5.3.3" phpVersionOperator=">=">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>